html, body {
  margin: 0;
  padding: 0;

  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 1rem/1.2 Helvetica, sans-serif;

  color: #000000;
  background: #425fcc;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.tasks {
  padding: 1.6rem 0;
}

.tasks__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  align-items: flex-start;
  justify-content: space-around;
}

.tasks__title {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.tasks__block {
  width: 30%;
  min-width: 300px;
  padding: 0.7rem;
  border-radius: 0.3rem;

  background: #cacaca;
}

.tasks__block-title {
  margin-bottom: 1rem;

  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tasks__list {
  margin-bottom: 1rem;
}

.tasks__item {
  position: relative;

  width: 100%;
  padding: 0.7rem;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
  box-sizing: border-box;

  background: #fff;
}

.tasks__tmp {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem;
  margin-bottom: 0.7rem;
}

.tasks__dragged {
  position: absolute;
  z-index: 999;

  pointer-events: none;
  cursor: grabbing;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.tasks__btn-remove {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;

  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;

  background: #ffffff;

  cursor: pointer;
}

.tasks__btn-remove:before {
  content: "\2715";
  display: block;

  font-size: 1.2rem;
}

.tasks__item:hover .tasks__btn-remove {
  display: flex;
}

.tasks__btn-showForm {
  display: inline-block;
  font-size: 1.1rem;
  border-bottom: 1px solid transparent;

  cursor: pointer;
}

.tasks__btn-showForm:hover {
  border-bottom-color: #000000;
}

.form__textarea {
  width: 100%;
  height: 5rem;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  box-sizing: border-box;

  resize: vertical;
}

.tasks__btn-add {
  display: inline-block;
  height: 2.8rem;
  padding: 0 0.7rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;

  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2.8rem;

  background: #55b329;
  color: #ffffff;

  cursor: pointer;
}

.tasks__btn-hide {
  width: 2.8rem;
  height: 2.8rem;
  border: none;
  outline: none;

  background: none;

  cursor: pointer;
}

.tasks__btn-hide:before {
  content: "\2715";
  display: block;

  font-size: 1.5rem;
  font-weight: bold;
}
